@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Spinnaker&display=swap');

$Blue: hsl(246, 80%, 60%);

// Primary

$Orange: hsl(15, 100%, 70%);
$SoftBlue: hsl(195, 74%, 62%);
$Pink: hsl(348, 100%, 68%);
$Green: hsl(145, 58%, 55%);
$Violet: hsl(264, 64%, 52%);
$Yellow: hsl(43, 84%, 65%);

//  Neutral

$VeryDarkBlue: hsl(226, 43%, 10%);
$DarkBlue: hsl(235, 46%, 20%);
$LightBlue: hsl(235, 45%, 61%);
$PaleBlue: hsl(236, 100%, 87%);

$FontSize: 18px;

$Font:  'Lilita One', cursive;
$FontFamily:  'Spinnaker', sans-serif;
$Weights: 300, 400, 500;